<div class="input" [class.input-after-search]="images">
    <input type="text" [formControl]="search">
    <button type="button" (click)="newSearch()" [disabled]="search.invalid" class="search">Search</button>
    <div *ngIf="search.getError('hasNotAloowedCharacters') == true">
        <p class="error">Forbidden Chatacters</p>
    </div>
</div>

<div class="container" *ngIf=" images && !images?.length">
    <p class="no-res">No Results :( </p>
 </div>



<ng-container *ngIf="images">

    <div class="nex-fre" *ngIf="images?.length">
        <button type="button" (click)="More(true)" *ngIf="page < maxPage" class="next">Next</button>
        <button type="button" (click)="More(false)" *ngIf="page > 1" class="pre">Back</button>
    </div>

  <div class="grid">
    <div *ngFor="let image of images">
      <img [src]="image.previewURL" (click)="openModal(image)" class="small">
    </div>
  </div>

</ng-container>

<div class="modal" *ngIf="showModal">
  <button type="button" (click)="closeModal($event)" class="close">X</button>
  <img [src]="chosenImage.largeImageURL" class="big">
</div>

<router-outlet></router-outlet>
